body {
	 padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	 padding-bottom: 40px;
 }

.navbar {
	background-color: #377D9A;
	font-size: large;
}

.content {
	margin-top: 25px;
}

.content h2 {
	margin-bottom: 30px;
}

.btn {
	margin-bottom: 2rem;
}

table thead {
	cursor: default;
}

table tbody tr {
	cursor: pointer;
}

.no-tab-msg {
	font-size: large;
}

.footer {
	margin-top: 30px;
	bottom: 20px;
}